<div>
    <h1>Your retirement status: True = eligible, False = noneligible</h1>
</div>

<div>
    <h2>This employees status = @ViewBag.CanRetire</h2>
</div>

<div>
    <h3>You will recieve @ViewBag.Benefits when/if eligible for retirement</h3>
</div>

